.employee-list {
  overflow-y: auto;
  position: relative;
  height: 370px;
}

.employee-list-content {
  overflow-y: scroll;
  height: 100%;
  padding-right: 5px;
}

/* WebKit Browsers */
.employee-list-content::-webkit-scrollbar {
  width: 8px;
}

.employee-list-content::-webkit-scrollbar-track {
  background: #fff;
}

.employee-list-content::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.employee-list-content::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* Firefox */
.employee-list-content {
  scrollbar-width: thin;
  scrollbar-color: #dce5ef #fff;
}

/* For Edge and IE */
.employee-list-content {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
