.input-item {
  @apply focus:outline-none;
  @apply bg-no-repeat focus:outline-none rounded border border-blue-500 h-10 leading-10 pl-9 w-full text-base font-inter text-neutral-dark-80;
  background-image: url('../../assets/images/icons/searchIcon.svg');
  border-color: theme('colors.dynamic.primary');
  background-position: 10px 10px;
}

.input-item {
  &:focus {
    box-shadow: 0px 0px 0px 2px #0085ff29;
  }
}
